.pageMargin {
    margin: 20px;
}

.page-header {
    /* Add any existing styles for page-header if needed */

    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-bar {
    width: 200px;
    /* Adjust the width as needed */
    height: 10px;
    /* Adjust the height as needed */
    background-color: #ddd;
    border-radius: 5px;
}

.progress {
    height: 100%;
    background-color: #4caf50;
    /* Adjust the color as needed */
    border-radius: 5px;
}

.registerButton {
    margin-top: 10px;
    width: 60%;
    padding: 10px;
    background-color: #e112cf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.previousNextButtons {
    margin-top: 10px;
    margin-right: 10px;
    width: 20%;
    padding: 10px;
    background-color: #3ba0ba;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.addButton {
    margin-top: 10px;
    margin-right: 10px;
    width: 40%;
    padding: 10px;
    background-color: #ba783b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a0454e;
}


.descriptionTextArea textarea {
    width: 100%;
    box-sizing: border-box;
    /* Include padding and border in textarea width */
}

.ResumeContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: black;
}

.ResumeContainer p {
    color: black
}

.ResumeH1 {
    /* color: #9d0a0a; */
}

.ResumeUl {
    list-style: none;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    border-color: #df2e2e;
    border: 2px solid #ea4444;
    margin-bottom: 20px;
    /* Add rounded corners to the list */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Add a subtle box shadow */

    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.03);
        /* Enlarge the list item on hover */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* Add a slightly larger shadow on hover */
    }
}

.ResumeLi {
    list-style-type: square;
    margin-bottom: 20px;
    /* border: 1px solid #ddd; */
    border: 1px solid rgb(12, 123, 133);
    padding: 25px;
    border-radius: 8px;
    background-color: #ffffff;
}

.ResumeH2 {
    color: #df2e2e;
}

.ResumeH3 {}

.ResumeP {
    margin: 8px 0;

}

ul ul {
    margin-top: 10px;
}

li:hover {
    /* background-color: #af1616;
    transition: background-color 0.3s ease; */
}